@media screen and (min-width: 0px) {
  a:visited{
    color: inherit;
  }
  .container--footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #e9c46a;
    color: white;
  }

  /* SOCIALS */
  .social-icons{
    display: flex;
  }
  .instagram, .twitter{
    background: transparent;
    background-color: #2a9d8f;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    cursor: pointer;
    width: 5vh;
    height: 5vh;
 
  }
  .instagram{
    -webkit-mask-image: url(../imgs/instagram.svg) ;
    mask-image: url(../imgs/instagram.svg) ;
  }
  .twitter{
    -webkit-mask-image: url(../imgs/twitter.svg) ;
    mask-image: url(../imgs/twitter.svg) ;

  }
  
}