/* ---------
side Panel
------------ */
@media screen and (min-width:0px) {
  .categories-navigation{
    position: fixed;
    flex-direction: column;
    inset: 0 20% 0 0;
    z-index: 999;
    padding: min(10rem, 8vh);
    background-color: rgb(42, 157, 143, 0.9);
    transform: translateX(-100%);
    transition: 0.4s ease-in-out;
    /*BLUR bg  */
    backdrop-filter: blur(8px);
  }
  .categories-navigation[data-visible="true"]{
    transform: translateX(0%);
  }
  /* categorieS TITLE */
  .categories-title{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
  .add-categories{
    background-image: url(../imgs/plus.svg);
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    z-index: 1000;
    cursor: pointer;
  }
  /* SINGLE CATEGORY */
  .category > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .delete-category{
    
    background-image: url(../imgs/minusDelete.svg);
    width: 1rem;
    height: 1rem;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;

  }
  /* TOGGLE */
  .mobile-toggle{
    display: block;
    background-image: url(../imgs/hamMenu.svg);
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: 1rem;
    margin-top: 1rem;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    z-index: 1000;
    cursor: pointer;
    
    
  }
  .mobile-toggle[aria-expanded="true"]{
    background-image: url(../imgs/closeMenu.svg);  
  }

  /* -----------
  POP UP
  ---------------- */
  .add-project-popUp{
    display: none;
    box-shadow: -1px 0px 5px 6px rgba(0, 0, 0, 0.36);
    background-color: #e9c46a;
    max-width: 18rem;
    text-align: center;
    border-radius: 10px;
    padding-top: 2rem;
    padding-inline: 2rem;
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: 1001;
    transform: translate(-50%, 20%);
  }
  .add-project-popUp > input, button{
    border-radius: 10px;
    border: none;
  }
  .add-project-popUp > input{
    padding-inline: 1rem;
  }
  /* Buttons */
  .btns-popUp{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
  }
  .btns-popUp > *{
    background: transparent;
  }
  .add-project-btn{
    color: rgb(42, 157, 143, 0.9);
  }
  .cancel-project-btn{
    color: rgba(48, 48, 48, 0.9);
  }
  /* Attribute swicth */
  .add-project-popUp[project-pop-visible="true"]{
    display: block;
  }
}