/* ---------
side Panel
------------ */
@media screen and (min-width:0px) {
  .categories-navigation{
    position: fixed;
    flex-direction: column;
    inset: 0 20% 0 0;
    z-index: 999;
    padding: min(10rem, 8vh);
    background-color: rgb(42, 157, 143, 0.9);
    transform: translateX(-100%);
    transition: 0.4s ease-in-out;
    /*BLUR bg  */
    backdrop-filter: blur(8px);
    color: white;
    max-height: 90vh;
  }
  .categories-navigation[data-visible="true"]{
    transform: translateX(0%);
  }
  .category:hover{
    cursor: pointer;
  }
  /* categorieS TITLE */
  .categories-title{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
  .add-categories{
    background-color: #e9c46a;
    -webkit-mask-image: url(../imgs/plus.svg) ;
    mask-image: url(../imgs/plus.svg) ;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    border: 0;
    z-index: 1000;
    cursor: pointer;
  }
  /* SINGLE CATEGORY */
  .category--title{
    text-transform: capitalize;
  }
  .category > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .delete-category{
    width: 1rem;
    height: 1rem;
    background-color: #800020;
    -webkit-mask-image: url(../imgs/minusDelete.svg) ;
    mask-image: url(../imgs/minusDelete.svg) ;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    border: 0;
    cursor: pointer;

  }
  /* TOGGLE */
  .mobile-toggle{
    display: block;
    /* Change Icon color */
    background-color: #e9c46a;
    -webkit-mask-image: url(../imgs/hamMenu.svg) ;
    mask-image: url(../imgs/hamMenu.svg) ;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: 1rem;
    margin-top: 1rem;
    border: 0;
    z-index: 1000;
    cursor: pointer;
    
    
  }
  .mobile-toggle[aria-expanded="true"]{
    -webkit-mask-image: url(../imgs/closeMenu.svg) ;
    mask-image: url(../imgs/closeMenu.svg) ;
  }

  /* -----------
  POP UP
  ---------------- */
  .add-project-popUp{
    display: none;
    box-shadow: -1px 0px 5px 6px rgba(0, 0, 0, 0.36);
    background-color: #e9c46a;
    max-width: 18rem;
    text-align: center;
    border-radius: 10px;
    padding-top: 2rem;
    padding-inline: 2rem;
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: 1005;
    transform: translate(-50%, 20%);
  }
  .add-project-popUp > input, button{
    border-radius: 10px;
    border: none;
  }
  .add-project-popUp > input{
    padding-inline: 1rem;
  }
  /* Buttons */
  .btns-popUp{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
  }
  .btns-popUp > *{
    background: transparent;
  }
  .add-project-btn{
    color: rgb(42, 157, 143, 0.9);
  }
  .cancel-project-btn{
    color: rgba(48, 48, 48, 0.9);
  }
  /* Attribute swicth */
  .add-project-popUp[project-pop-visible="true"]{
    display: block;
  }
}
@media screen and (min-width: 900px) {
  .categories-navigation{
    transform: translateX(0%);
    inset: 0 70% 0 0;
    box-shadow: 11px 3px 5px -6px rgba(0,0,0,0.75);
    
  }
  .mobile-toggle{
    display: none;
  }

}
@media screen and (min-width: 1200px) {
  .categories-navigation{
    inset: 0 75% 0 0;
  }
}
@media screen and (min-width: 1600px) {
  .categories-navigation{
    inset: 0 80% 0 0;
  }
}