@media screen and (min-width: 0px){
  .taskDescPanel{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 20%);
    min-height: 40vh;
    padding: 1em;
    width: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(233, 197, 106);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    color: white;
    overflow: auto;
  }
  .title--task{
    display: flex;
    position: relative;
    border: none;
  }
  .title--task > h1{
    font-size: 1.4em;
  }
  .hide-desc-panel{
    background: transparent;
    border: none;
    width: 3vh;
    height: 4vh;
    /* Change Icon color */
    background-color: #800020;
    -webkit-mask-image: url(../imgs/Close.svg) ;
    mask-image: url(../imgs/Close.svg) ;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    position: absolute;
    top: 1vh;
    right: 1.5vh;
    cursor: pointer;
  }
  .set-date{
    position: relative;
    display: grid;
    place-items: center;
    padding: .2em;
    border-radius: 10px;
    grid-template-columns: 1fr 4vh;
    border: 1px solid white;
  }
  .add-date-label{
    position: absolute;
    z-index: -1;
  }
  #due-Date{
    border: none;
    background: transparent;
  }
  .due-Date-btn{
    background-image: url(../imgs/plus.svg);
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
  }
  /* PANEL FOR NOTES */
  .notes-panel{
    position: relative;
    margin-top: 1rem;
    min-height: 5vh;
    padding: .3em;
    border: 1px solid white;
    border-radius: 10px;
    background: rgba(221, 192, 117, 0.9);
  }
  .textarea{
    display: block;
    min-height: 4.8vh;
    width: 100%;
  }
  /* If textarea empty show place holder */
  .textarea:empty::before{
    content: 'Add notes';
    color: grey;
  }
  .textarea:focus{
    outline: none;
  }
  .notes-panel > .add-task-note{
    background: transparent;
    position: absolute;
    bottom: .5vh;
    right    : 1vh;
    cursor: pointer;
  }
}
@media screen and (min-width: 800px) {
  .add-date-label{
    display: none;
  }
  
}