@media screen and (min-width: 0px) {
  .title{
    border-bottom: 1px solid white;
  }
  .todo-panel{
    position: relative;
    border-radius: 10px;
    height: 30vh;
    width: 33vh;
    background-color: black;
    color: white;
  }
  .task{
    padding: 2vh;
    grid-template-columns: 2vh 1fr 2vh;
  }
  .TaskItemCheckbox{
    place-self: center;
    border-radius: 50%;
    width: 2vh;
    height: 2vh;
  }
  .TaskItemDelete{
    text-align: center;
    place-self: center;
    font-size: 1.5vh;
    width: 2vh;
    height: 2vh;
  }
  .task[aria-disabled="true"] .TaskItemCheckbox {
    background-color: blue;
  }
  .task[aria-disabled="true"] .task-tag {
    display: none;
  }
  
  .task[aria-disabled="true"]{
    color: gray;
    text-decoration: line-through;
    
  }
  .task-tag{
    color: grey;
  }
  
  /* INPUT TASK FIELD */
  .add-task-container{
    position: absolute;
    display: flex;
    padding: 1em;
    align-items: center;
    bottom: .5em;
  }
  .add-task-container > label{
    display: block;
    position: absolute;
    top: 1.8em;
    left: 2em;
    opacity: .4;
    font-size: 12px;
    color: black;
  }
  
  .add-task-container > input{
    /* position: relative; */
    padding-left: 1em;
    flex-grow: 2;
    outline: none;
    border: none;
    display:block;
    line-height: 1.5em;
    font-size: 14pt;
    
  }
  #add-task-text {
    border-radius: 10px;
  }
  #add-task-text:focus + .add-task-label {
    opacity: 0;
  }
  .add-task-btn{
    position: absolute;
    right: 1em;
    background: transparent;
    border: none;
    width: 2em;
    height: 2em;
    /* Change Icon color */
    background-color: grey;
    -webkit-mask-image: url(../imgs/arrowUp.svg) ;
    mask-image: url(../imgs/arrowUp.svg) ;
  }



}