@media screen and (min-width: 0px) {
  .title{
    margin-bottom: 1.5vh;
    border-bottom: 1px solid white;
  }
  .todo-panel{
    position: relative;
    padding: 1em;
    border-radius: 10px;
    min-height: 45vh;
    max-height: 60vh;
    width: 35vh;
    background-color: #258d81;
    color: white;
    overflow: auto;
    
  }
/* Make tasks scrollable */
  .tasks{
    max-height: 40vh;
    overflow: auto;
  }

  
  
  .task{
    padding: .8vh;
    grid-template-columns: 2vh 1fr 2vh;
  }
  .TaskItemCheckbox{
    place-self: center;
    border-radius: 50%;
    border: none;
    color: #e9c46a;
    background-color: #e9c46a;
    -webkit-mask-image: url(../imgs/uncheck.svg) ;
    mask-image: url(../imgs/uncheck.svg) ;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    width: 2vh;
    height: 2vh;
    cursor: pointer;
    
  }
  .TaskItemDelete{
    background: transparent;
    border: none;
    text-align: center;
    place-self: center;
    width: 2vh;
    height: 2vh;
    /* Change Icon color */
    background-color: #800020;
    -webkit-mask-image: url(../imgs/minusDelete.svg) ;
    mask-image: url(../imgs/minusDelete.svg) ;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    cursor: pointer;
  }
  .task[aria-disabled="true"] .TaskItemCheckbox {
    /* Change Icon color */
    background-color: #a0a0a0;
    -webkit-mask-image: url(../imgs/check.svg) ;
    mask-image: url(../imgs/check.svg) ;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;  
      

  }
  .task[aria-disabled="true"] .task-category {
    display: none;
  }
  .task-title{
    cursor: pointer;
    z-index: 2;
  }
  .task[aria-disabled="true"]{
    color: rgb(104, 104, 104);
    text-decoration: line-through;
    
  }
  .task-category{
    color: rgb(104, 104, 104);
    text-transform: capitalize;
    

  }
  
  /* INPUT TASK FIELD */
  .add-task-container{
    position: sticky;
    display: flex;
    gap: .5vh;
    border-radius: 10px;
    align-items: center;
    bottom: .1vh;
    left: .5vh;
    width: 30vh;
    height: 5vh;

    
  }
  #add-task-text{
    width: 25vh;
  }
  .add-task-container > label{
    display: block;
    position: absolute;
    top: .8em;
    left: 2vh;
    opacity: .4;
    font-size: 12px;
    color: black;
  }
  
  .add-task-container > input{
    padding-left: 1em;
    outline: none;
    border: none;
    display:block;
    line-height: 1.5em;
    height: 2.2em;
    font-size: .8em;
    
  }
  #add-task-text {
    border-radius: 10px;
    
  }
  #add-task-text:focus + .add-task-label {
    opacity: 0;
  }
  .add-task-btn{
    background: transparent;
    border: none;
    width: 5vh;
    height: 5vh;
    color: #e9c46a;
    /* Change Icon color */
    background-color: rgb(216, 183, 99);
    -webkit-mask-image: url(../imgs/arrowUp.svg) ;
    mask-image: url(../imgs/arrowUp.svg) ;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    cursor: pointer;
  }



}
@media screen and (min-width: 500px) {

  .add-task-container{
    bottom: .05em;
    left: 2.8vh;
  }
  .add-task-container > label{
    top: 1.6vh;
    left: 2vh;
  }
  .add-task-btn{
    width: 3vh;
    height: 3vh;
  }
}
@media screen and (min-width: 800px) {
  .add-task-container > input{
    height: 1.8em;
    font-size: 1em;
    
  }
}