@media screen and (min-width: 0px) {
  .title{
    border-bottom: 1px solid white;
  }
  .todo-panel{
    position: relative;
    padding: 1em;
    border-radius: 10px;
    min-height: 45vh;
    width: 35vh;
    background-color: #258d81;
    color: white;
  }
  .task{
    padding: 2vh;
    grid-template-columns: 2vh 1fr 2vh;
  }
  .TaskItemCheckbox{
    place-self: center;
    border-radius: 50%;
    background: transparent;
    border: none;
    background-image: url(../imgs/uncheck.svg);
    width: 2vh;
    height: 2vh;
    
  }
  .TaskItemDelete{
    background: transparent;
    border: none;
    text-align: center;
    place-self: center;
    width: 2vh;
    height: 2vh;
    /* Change Icon color */
    background-color: #800020;
    -webkit-mask-image: url(../imgs/minusDelete.svg) ;
    mask-image: url(../imgs/minusDelete.svg) ;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }
  .task[aria-disabled="true"] .TaskItemCheckbox {
    /* Change Icon color */
    background-color: #a0a0a0;
    -webkit-mask-image: url(../imgs/check.svg) ;
    mask-image: url(../imgs/check.svg) ;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;    

  }
  .task[aria-disabled="true"] .task-tag {
    display: none;
  }
  
  .task[aria-disabled="true"]{
    color: rgb(104, 104, 104);
    text-decoration: line-through;
    
  }
  .task-tag{
    color: rgb(104, 104, 104);
    

  }
  
  /* INPUT TASK FIELD */
  .add-task-container{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: .5em;
    width: 30vh;
    
  }
  #add-task-text{
    width: inherit;
  }
  .add-task-container > label{
    display: block;
    position: absolute;
    top: .5em;
    left: 2em;
    opacity: .4;
    font-size: 12px;
    color: black;
  }
  
  .add-task-container > input{
    /* position: relative; */
    padding-left: 1em;
    flex-grow: 1;
    outline: none;
    border: none;
    display:block;
    line-height: 1.5em;
    font-size: 14pt;
    
  }
  #add-task-text {
    border-radius: 10px;
    width: 30vh;
  }
  #add-task-text:focus + .add-task-label {
    opacity: 0;
  }
  .add-task-btn{
    position: absolute;
    right: 1em;
    background: transparent;
    border: none;
    width: 2em;
    height: 2em;
    /* Change Icon color */
    background-color: grey;
    -webkit-mask-image: url(../imgs/arrowUp.svg) ;
    mask-image: url(../imgs/arrowUp.svg) ;
  }



}