@use '../custom' as *;
@media screen and (min-width: 0px) {
  .add-task-container-main{
    position: absolute;
    bottom: 0;
    z-index: 999;
    background-color: $font-title-bg-color;
    color: $font-p-color-light;
    width: 100vw;
    height: 100vh;
    padding-block: 5vh;
    padding-inline: 5vw;
    display: grid;
    place-content: center;
    .add-task-container-content{
      
      padding-inline: 8vw;
      padding-block: 8vh;
      .title-task-input{
        position: relative;
        #add-task-title{
          width: 100%;
          border-radius: 3vmin;
          padding:1vmin;
          padding-inline: 1.5vmin;
          background-color: $input-bg-color;
          border: none;
          color: $secondary-background;
        &::placeholder{
          color: $secondary-background;
        }
        }
      }

      .select-category-container, .priority-container{
        margin-top: 2vh;
        border-radius: 3vmin;
        background-color: $input-bg-color;
        padding-inline: 1.5vmin;
        padding-block: 1vmin;
        p{
          display: flex;
          justify-content: space-between;
          text-transform: capitalize;
        }
        ul{
          border-top: .5vmin solid $secondary-background;
          text-transform: capitalize;
        }
      }
      .set-date{
        margin-top: 2vh;
        input[type="date"]::-webkit-clear-button{
          display: none;
        }
        /* Removes the spin button */
        input[type="date"]::-webkit-inner-spin-button { 
          display: none;
        }
        input[type="date"]{
          appearance: none;
          -webkit-appearance: none;
          border: none;
          background-color: $input-bg-color;
          border-radius: 2vmin;
          padding: .6vmin;
          color: $secondary-background;
        }
      }
      .dropdown-icon{
        place-self: center;
          border-radius: 50%;
          border: none;
          color: $high-ligh-icon;
          background-color: $high-ligh-icon;
          -webkit-mask-image: url(../../imgs/downArrow.svg) ;
          mask-image: url(../../imgs/downArrow.svg) ;
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          width: 3vh;
          height: 3vh;
          background-size: 20px 20px;
          cursor: pointer;
      }
      .add-main-task{
        display: flex;
        justify-content: space-around;
        margin-top: 2vh;
        .cancel-task-btn{
          border-color: $red;
        }
      }
    }

  }
  #notes-panel-main{
    background-color: $input-bg-color ; 
    margin-top: 1rem;
    min-height: 5vh;
    max-height: 20vh;
    overflow-y: auto;
    padding: .3em;
    border: 1px solid $font-title-bg-color;
    border-radius: 10px;
    .textarea-main{
      display: block;
      min-height: 4.8vh;
      width: 100%;
      // IF text area empty show a place Holder
      &:empty::before{
        content: 'Add notes';
        color: $secondary-background;
      }
      &:focus{
        outline: none;
      }
    }
  }
}
