@use '../custom' as *;
@media screen and (min-width: 0px) {
  .container--footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: $primary-background;
    color: $font-p-color;
    border-top: 1px solid $high-ligh-icon;
    box-shadow: 0px -8px 10px -8px rgba(78, 51, 75, 0.3);

    /*SOCIAL ICONS*/ 
    .social-icons{
      display: flex;
      .instagram, .twitter{
        background: transparent;
        background-color: $font-title-bg-color;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        cursor: pointer;
        width: 5vh;
        height: 5vh;
     
      }
      .instagram{
        -webkit-mask-image: url(../../imgs/instagram.svg) ;
        mask-image: url(../../imgs/instagram.svg) ;
      }
      .twitter{
        -webkit-mask-image: url(../../imgs/twitter.svg) ;
        mask-image: url(../../imgs/twitter.svg) ;
    
      }
    }
    a {
      text-decoration: none;
      color: $font-title-bg-color;
    }

    .gitHub{
        background: transparent;
        background-color: $font-title-bg-color;
        -webkit-mask-image: url(../../imgs/github.svg) ;
        mask-image: url(../../imgs/github.svg) ;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        cursor: pointer;
        width: 4vh;
        height: 4vh;
      }
    
    
  }
  
}