@use '../custom' as *;
@media screen and (min-width: 0px) {
  header{
    position: relative;
  }
  .container--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-inline: 1rem;
    position: relative;
    background-color: transparent;
    position: relative;
    z-index: 999;

    

    .user{
      display: none;
    }
  }
  .mobile-toggle{
    display: block;
    /* Change Icon color */
    background-color: $font-title-bg-color;
    -webkit-mask-image: url(../../imgs/hamMenu.svg) ;
    mask-image: url(../../imgs/hamMenu.svg) ;
    transform: rotate(180deg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    
    width: 2rem;
    height: 2rem;


    border: 0;
    z-index: 1000;
    cursor: pointer;
    
    &[aria-expanded="true"]{
      position: absolute;
      top: 110%;
      right: 4vw;
      background-color: $red;
      -webkit-mask-image: url(../../imgs/closeMenu.svg) ;
      mask-image: url(../../imgs/closeMenu.svg) ;
    }
  }
}