@use '../custom' as *;

/* -------------
TODO Hero/home
-------------- */
@media screen and (min-width: 0px) {
  .container-hero{
    background-color: $primary-background;
    background-image: url(../../imgs/bg-desktop-pink.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: grid;
    place-items: center;
  }
  /* BLUR */
  .blur-document{
    filter: blur(20px);
  }
}



@media screen and (min-width: 0px) {
  

  /*-----------
  POP UP
  -------------*/ 
  .add-project-popUp{
    display: grid;
    box-shadow: -1px 0px 3px 4px rgba(0, 0, 0, 0.36);
    background-color: $primary-background;
    max-width: 40vh;
    text-align: center;
    border-radius: 10px;
    padding-top: 2rem;
    padding-inline: 2rem;
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: 1005;
    transform: translate(-50%, 20%);
    // text color
    color: $font-p-color;
    letter-spacing: $letter-spacing;
    
    input, button{
      border-radius: 10px;
      border: none;
    }
    input{
      padding-inline: 1rem;
      margin-inline: auto;
      width: 30vh;
    }
    /* Buttons */
    .btns-popUp{
      margin-top: 1rem;
      margin-bottom: .5rem;
      display: flex;
      justify-content: space-around;
      *{
        background: transparent;
      }
      .add-project-btn{
        color: $font-title-bg-color;
        letter-spacing: $letter-spacing;
        cursor: pointer;
      }
      .cancel-project-btn{
        color: $red;
        text-shadow: 1px 0.4px $font-title-bg-color;
        letter-spacing: $letter-spacing;
        cursor: pointer;
      }
      
    }
    
  }
  
}

@media screen and (min-width: 900px) {
  .categories-navigation{
    transform: translateX(0%);
    inset: 0 70% 0 0;
    box-shadow: 11px 3px 3px -8px rgba(0,0,0,0.5);
    
  }
  .mobile-toggle{
    display: none;
  }
  
}

@media screen and (min-width: 1200px) {
  .categories-navigation{
    inset: 0 75% 0 0;
  }
}
@media screen and (min-width: 1600px) {
  .categories-navigation{
    inset: 0 80% 0 0;
  }
}
@media screen and (max-height: 596px) {
  .add-project-popUp{
    max-width: 90vh;
  }
  .add-project-popUp{
    width: 80vw;
    #add-project-text{
      width: 50vw;
    }
  }

}
