@use '../custom' as *;
@media screen and (min-width: 0px) {
  .categories-navigation{
    display: none;
    position: absolute;
    top: 0;
    flex-direction: column;
    align-content: center;
 
    z-index: 500;
    padding-top: 10vh;
    padding-left: min(8vh, 10vh);
    background-color: $font-title-bg-color;
    transform: translateX(150%);
    transition: 0.2s ease-in-out;
    /*BLUR bg  */
    backdrop-filter: blur(8px);
    color: $secondary-background-dark;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;

    .things-to-get-done{
      margin-top: 2vh;
      p {
        text-transform: capitalize;
      }
    :not(:first-child){
      margin-top: 2vh;
      }
    }
//  PRIORITIES
    .priority-title::marker {
      content: '';
    }
    details[open] .dropdown-wrapper {
      animation: fade-in 0.5s forwards;
      .high{color: rgb(235, 0, 70)}
      .medium{color: rgb(238, 234, 0)}
    }
    
    .priority-title{
      display: flex;
      gap: 1vh;
      .dropdown-icon{
        display: inline-block;
        place-self: center;
        align-self: center;
        border-radius: 50%;
        border: none;
        color: $high-ligh-icon;
        background-color: $high-ligh-icon;
        -webkit-mask-image: url(../../imgs/downArrow.svg) ;
        mask-image: url(../../imgs/downArrow.svg) ;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        width: 3vh;
        height: 3vh;
        background-size: 20px 20px;
        cursor: pointer;
      }
    }
    
    
    // CATEGORIES TITLE 
    .categories-title{
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr;
      gap: 0.5rem;
      
      h2{
        border-top: .1vh solid $secondary-background;
        padding-top: 1vh;
      }
      
      .add-categories{
        background-color: $high-ligh-icon;
        -webkit-mask-image: url(../../imgs/plus.svg) ;
        mask-image: url(../../imgs/plus.svg) ;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        width: 1.5rem;
        height: 1.5rem;
        border: 0;
        z-index: 1000;
        cursor: pointer;
      }
    }
    
    .category{
      &:hover{
        cursor: pointer;
      }
      /* SINGLE CATEGORY */
      .category--title{
        text-transform: capitalize;
      }
      div {
        display: grid;
        gap: .4em;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        
        .delete-category{
          width: 1rem;
          height: 1rem;
          background-color: $red;
          -webkit-mask-image: url(../../imgs/minusDelete.svg) ;
          mask-image: url(../../imgs/minusDelete.svg) ;
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          border: 0;
          cursor: pointer;
          
        }
      }
      
    }
    // When Toggle is pressed
    
    &[data-visible="true"]{
      display: flex;
      transform: translateX(0%);
      
    }
  }

  @keyframes fade-in {
    0% {
      transform: translateY(-20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
@media screen and (min-width: 1000px) {
  .categories-navigation{
    display: flex !important;
    max-width: clamp(20rem, 20vw, 25vw);
    inset: 0 75% 0 0;
    transform: translateX(0%);
    padding-top: 5vh;
  }
}
@media screen and (max-height: 596px) {
  .categories-navigation{
    height: 100vh;
  }
}