@use "../custom" as *;

@media screen and (min-width: 0px){
  .taskDescPanel{
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translate(-50%, 14%);
    min-height: 60vh;
    padding: 1em;
    width: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $primary-background;
    border-radius: 10px;
    color: $font-p-color;
    overflow: auto;

    .title--task{
      h1{
        font-size: 1.4em;
      }
    }
    .set-date{
      position: relative;
      display: grid;
      place-items: center;
      padding: .2em;

      .add-date-label{
        z-index: -1;
      }
      input{
        color: $font-title-bg-color;
        background: transparent;
        border: none;
        border: 1px solid $font-title-bg-color;
        padding: .2em;
        padding-inline: 3em;
        border-radius: 10px;
      }



      

      .due-Date-btn{
        background: transparent;
        background-color: $font-title-bg-color;
        -webkit-mask-image: url(../../imgs/plus.svg) ;
        mask-image: url(../../imgs/plus.svg) ;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        width: 4vh;
        height: 4vh;
        border: 0;
        cursor: pointer;
      }
    }
    details{
      .priority-title::marker {
        content: '';
      }
      details[open] .dropdown-wrapper {
        animation: fade-in 0.5s forwards;
        .high{color: rgb(235, 0, 70)}
        .medium{color: rgb(238, 234, 0)}
      }
      
      .priority-title{
        display: flex;
        gap: 1vh;
        .dropdown-icon{
          display: inline-block;
          place-self: center;
          align-self: center;
          border-radius: 50%;
          border: none;
          color: $high-ligh-icon;
          background-color: $high-ligh-icon;
          -webkit-mask-image: url(../../imgs/downArrow.svg) ;
          mask-image: url(../../imgs/downArrow.svg) ;
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          width: 3vh;
          height: 3vh;
          background-size: 20px 20px;
          cursor: pointer;
        }
      }
    }
    .task-desc-panel-btns{
      display: flex;
      justify-content: space-around;
      .btn{
        color: $font-title-bg-color;
      }
      .task-desc-save{
        border-color: $font-title-bg-color;
      }
      .task-desc-cancel{
        border-color: rgb(196, 0, 0);
      }
    }
  }
  /* PANEL FOR NOTES */
  .notes-panel{
    position: relative;
    margin-top: 1rem;
    min-height: 5vh;
    max-height: 20vh;
    overflow-y: auto;
    padding: .3em;
    border: 1px solid $font-title-bg-color;
    border-radius: 10px;
    .textarea{
      display: block;
      min-height: 4.8vh;
      width: 100%;
      // IF text area empty show a place Holder
      &:empty::before{
        content: 'Add notes';
        color: grey;
      }
      &:focus{
        outline: none;
      }
    }
  }
}
@media screen and (min-width: 800px) {
  .taskDescPanel{
    // Hide Panel btn
    .hide-desc-panel{
      top: 1vh;
      right: 1vh;

    }
    .set-date{
      .due-Date-btn{
        width: 3vh;
        height: 3vh;
      }
    }
  }
}
@media screen and (max-height: 596px) {
  .taskDescPanel{
    top: 14%;
    left: 50%;
    transform: translate(-50%, 14%);
    min-height: 50vh;
    padding: 1em;
    width: 100%;
    color: $font-p-color;
    overflow: auto;
  }

}